.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
noncestatistics/.DS_Store
noncestatistics/.deps
noncestatistics/.libs
noncestatistics/all.h.bak
noncestatistics/Makefile
noncestatistics/Makefile.in
noncestatistics/noncestatistics
noncestatistics/*.o
stamp-h1